body {
    font-family: monospace;
}

fieldset {
    width: 50%;
}

#info {
    float: right;
}

#info fieldset {
    display: inline-block;
    width: 200px;
}

.textBox {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 30px;
}

#map {
    display: inline-block;
}

.infoLabel {
    grid-row: 1;
    grid-column: 1 / span 2;
}

.infoText {
    grid-row: 2;
    grid-column: 1;
}

.copyButton {
    background-color: white;
    background-image: url("copy-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: none;
    grid-row: 2;
    grid-column: 2;
}

.resizeLabel {
    display: inline-block;
    width: 150px;
}

.tile {
    display: inline-block;
    font-size: xx-small;
    font-weight: bold;
    outline: 1px grey solid;
    outline-offset: -1px;
    text-align: center;
}

.startTile {
    background-color: lightgreen;
    outline-color: darkgreen;
}

.endTile {
    background-color: tomato;
    outline-color: darkred;
}

.tile:hover {
    cursor: pointer;
}